.header {
  color: $gray-400;
  padding: 47px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -10px;
}

.logo {
  max-width: 158px;
  margin-right: 20px;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.nav {
  &-list {
    display: flex;
    align-items: center;

    &__item,
    li {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__link,
    a {
      padding: 10px;
      font-size: 20px;
    }
  }
}

.burger {
  display: none;
}