// project colors
$white: #ffffff;
$black: #070707;
$bgColor: #141414;
$textColor: $white;
$pink: #FF2F7A;
$violet: #9F29FB;

$gray-100: #F8F8F8;
$gray-200: #DBDBDB;
$gray-300: #D2D2D2;
$gray-400: #878585;

$pinkDark: #D2004C;
$yellow: #D1D604;
$yellowLight: #EBE0AE;
$yellow-100: #FFC526;
$blue: #094FAD;
$aqua: #1CA3BA;
// timing
$hover-duration: .5s;
$duration: .8s;
$timing: cubic-bezier(.17,.67,.55,1.05);
