.hero {
  padding: 160px 0 70px 0;
  display: flex;
  flex-flow: column;

  @include d(1366) {
    padding: 107px 0 50px 0;
  }

  @include d(1024) {
    padding: 73px 0;

  }

  @include d(991) {
    padding: 73px 0 0 0;
    display: block;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-grid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1240px;
    z-index: -1;

    @include d(1366) {
      max-width: 80%;
    }
  }

  &__text {
    max-width: 445px;
    font-size: 17px;
    position: relative;
    z-index: 2;

    @include d(1024) {
      font-size: 18px;
    }

    @include d(991) {
      max-width: 100%;
    }

    img {
      max-width: 385px;
      margin-bottom: 26px;

      @include d(1366) {
        max-width: 260px;
      }

      @include d(1024) {
        max-width: 200px;
      }
    }

    p {
      margin-bottom: 22px;
      line-height: 1.3em;

      &:last-of-type {
        margin-bottom: 45px;

        @include d(1024) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 71%;
    z-index: -1;

    @include d(1024) {
      max-width: 65%;
    }

    @include d(991) {
      max-width: 100%;
      position: static;
      margin: 0 0 0 auto;
    }

    @include d(768) {
      width: 100%;
    }
  }

  &-light {
    position: absolute;
    z-index: -1;
    &_top {
      right: 0;
      top: 0;
      max-width: 60%;
    }

    &_bottom {
      bottom: 0;
      left: 0;
      max-width: 50%;
    }
  }
}

.about {
  padding: 150px 0 40px;

  @include d(1366) {
    padding: 107px 0 40px;
  }

  @include d(1024) {
    padding: 73px 0;
  }

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-grid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, 0%);
    max-width: 1240px;
    left: 50%;
    z-index: 0;
    opacity: .4;

    @include d(1366) {
      max-width: 80%;
    }
  }

  &::before {
    top: 5%;
    background-position: 0 0;
  }

  &::after {
    bottom: 5%;
    background-position: 0 100%;
  }

  &-light {
    position: absolute;

    &_top {
      right: 0;
      top: 0;
      max-width: 60%;
    }

    &_middle {
      top: 10%;
      left: 0;
      max-width: 40%;
    }

    &_bottom {
      bottom: 0;
      left: 0;
      max-width: 500px;
      z-index: 0;
    }

  }

  &__img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 190px;
    z-index: 0;

    @include d(1024) {
      top: 60px;
      width: 80%;
    }
  }

  &__content {
    max-width: 1080px;
    margin-right: 0;
    margin-left: auto;
    margin-top: -50px;
    position: relative;
    z-index: 1;

    @include d(991) {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 65px;

      @include d(1024) {
        margin-bottom: 30px;
      }
    }

    img {
      max-width: 860px;
      position: relative;
      top: 0;
      right: -320px;

      @include d(1366) {
        max-width: 780px;
      }

      @include d(1199) {
        max-width: 66%;
        right: 0;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  &__text {
    margin-right: 0;
    margin-left: auto;
    font-size: 24px;
    margin-bottom: 122px;

    @include d(1366) {
      font-size: 20px;
    }

    @include d(1024) {
      margin-bottom: 60px;
    }

    &:first-of-type {
      max-width: 770px;

      @include d(1024) {
        max-width: 100%;
      }

      h3:before {
        background-image: url(../img/about-title-1.png);
      }
    }

    &:nth-child(3) {
      max-width: 924px;
      margin-bottom: 113px;

      @include d(1024) {
        max-width: 100%;
      }

      @include d(1024) {
        margin-bottom: 60px;
      }

      h3:before {
        background-image: url(../img/about-title-2.png);
      }
    }

    h3 {
      margin-bottom: 40px;
      letter-spacing: 0.09em;
      position: relative;

      @include d(1024) {
        margin-bottom: 20px;
      }

      &::before {
        content: "";
        width: 155px;
        height: 64px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: -15px;
        left: -43px;
        z-index: -1;
      }
    }

    p {
      line-height: 1.5em;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

.hash-img {
  position: absolute;
  bottom: 5%;
  left: 0;
  max-width: 230px;
  z-index: 0;
}

.about-bg {
  position: absolute;
  top: 100%;
  left: 25%;
  transform: rotate(-51deg);
  transform-origin: top left;
  z-index: 1;
  height: 1189px;
}

.utility {
  padding: 150px 0 40px;
  background-image: url(../img/utility-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  flex-flow: column;

  @include d(1366) {
    padding: 107px 0 40px;
  }

  @include d(1024) {
    padding: 73px 0 60px;
  }

  @include d(991) {
    display: block;
  }

  @include d(768) {
    padding: 73px 0 0 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-grid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1240px;

    @include d(1366) {
      max-width: 80%;
    }
  }

  &__content {
    max-width: 765px;
    margin-right: 0;
    margin-left: auto;
    font-size: 24px;
    position: relative;
    z-index: 1;

    @include d(1366) {
      font-size: 20px;
    }

    @include d(1024) {
      font-size: 18px;
    }

    @include d(991) {
      max-width: 100%;
    }

    h3 {
      position: relative;
      margin-bottom: 38px;
      letter-spacing: 0.04em;

      @include d(1280) {
        margin-bottom: 20px;
      }

      &::before {
        content: "";
        width: 98px;
        height: 94px;
        position: absolute;
        bottom: -5px;
        left: -40px;
        background-image: url(../img/snow.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }
    }

    p {
      line-height: 1.5em;
    }
  }

  &__title {
    max-width: 800px;
    position: relative;
    right: -95px;
    top: -20px;
    margin-bottom: 23px;

    @include d(1366) {
      max-width: 600px;
      right: 0;
      top: 0;
      margin-right: 0;
      margin-left: auto;
    }

    @include d(991) {
      max-width: 60%;
    }

    @include d(600) {
      max-width: 300px;
      margin: 0 auto 30px auto;
    }
  }

  &__img {
    position: absolute;
    left: -80px;
    max-width: 43%;
    width: 50%;
    top: 60%;
    transform: translate(0, -50%);

    @include d(1024) {
      top: -40px;
      transform: translate(0, 0);
    }

    @include d(768) {
      position: static;
      top: 0;
      max-width: 70%;
      width: 100%;
    }

    @include d(480) {
      max-width: 90%;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-image: url(../img/baby-ellipse.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &-crown {
    position: absolute;
    bottom: 65px;
    right: 94px;
    width: 143px;
  }

  &-light {
    position: absolute;

    &_top {
      right: 0;
      top: 0;
      max-width: 60%;
    }
  }
}

.artists {
  padding-top: 150px;

  .btn-scroll__wrapper {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @include d(1366) {
    padding-top: 107px;
  }

  @include d(1024) {
    padding-top: 73px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 150px);
    position: relative;

    @include d(1366) {
      height: calc(100vh - 107px);
    }

    @include d(1024) {
      height: calc(100vh - 73px);
    }

    @include d(768) {
      height: auto;
    }

    &__item {
      width: 25%;

      &:nth-child(2) {
        z-index: 2;
        pointer-events: none;

        .artists-list__link {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $white;

          img {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0px, 0px) scale(2);
          }
        }
      }

      @include d(768) {
        width: 50%;
      }

      @include d(768) {
        width: 50%;
        height: 50vw;
      }
    }

    &__link {
      position: relative;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($black, .6);
        z-index: 1;
        transition: background-color $hover-duration $timing;
      }

      &:hover {
        &::before {
          background-color: rgba($black, 0);
        }

        .artists-list__bg {
          filter: grayscale(0);
        }
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(1);
      transition: filter $hover-duration $timing;
      transform: scale(1.001);
    }

    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 65%;
      transform: translate(-50%, -50%) scale(1);
      z-index: 1;
      transition: transform $hover-duration $timing;

    }
  }
}

.artist {
  padding: 150px 0 30px 0;
  display: flex;
  flex-flow: column;

  @include d(1366) {
    padding: 107px 0 80px 0;
  }

  @include d(1024) {
    padding: 73px 0;
  }

  @include d(991) {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }


  &::before {
    top: 0;
    background-image: url(../img/artist-bg.jpg);
    background-position: top center;
    opacity: .4;
  }

  &::after {
    background-size: contain;
    background-image: url(../img/artist-bg.png);
    background-position: bottom left;
    bottom: 0;
    width: 80%;
  }

  &__title {
    max-width: 560px;
    position: relative;
    top: -40px;
    left: -40px;
    margin-bottom: -10px;

    @include d(1366) {
      max-width: 500px;
      left: 0;
    }

    @include d(1199) {
      margin-bottom: 0;
      top: 0;
      left: 0;
    }

    @include d(991) {
      max-width: 50%;
      margin-bottom: 30px;
    }

    @include d(600) {
      max-width: 80%;
    }
  }

  &__content {
    max-width: 925px;
    font-size: 24px;
    padding-left: 13px;
    position: relative;
    z-index: 1;

    @include d(1366) {
      font-size: 20px;
      max-width: 800px;
    }

    @include d(1199) {
      padding-left: 0;
    }

    @include d(1024) {
      font-size: 18px;
      max-width: 80%;
    }

    @include d(991) {
      max-width: 100%;
    }

    p {
      margin-bottom: 16px;
      line-height: 1.5em;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 52px;
    width: 21%;

    @include d(1024) {
      right: 0;
    }

    @include d(991) {
      display: none;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 15px;
    top: 40px;
    z-index: 1;

    &__link {
      width: 70px;
      height: 70px;
      padding: 17px;

      @include d(1024) {
        width: 40px;
        height: 40px;
        padding: 5px;
      }

      &:hover {
        .svg-social {
          fill: $pinkDark;
        }
      }
    }
  }

  &-light {
    position: absolute;

    &_top {
      left: 0;
      top: 0;
      max-width: 60%;
    }

    &_bottom {
      bottom: 0;
      right: 0;
      max-width: 50%;

      &-left {
        bottom: 0;
        left: 0;
      }
    }
  }
}

.svg-social {
  fill: $white;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: fill $hover-duration $timing;
}

.team {
  padding: 150px 0 0 0;
  background-image: url(../img/team-text-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .btn-scroll__wrapper {
    margin-bottom: 30px;
    position: relative;
    bottom: 0;
    @include d(1366) {
      bottom: -70px;
    }
  }

  @include d(1366) {
    padding: 107px 0 80px 0;
  }

  @include d(1024) {
    padding: 73px 0 80px 0;
  }

  @include d(991) {
    padding: 73px 0;
  }

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-grid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, 0%);
    max-width: 1240px;
    left: 50%;
    z-index: 0;
    opacity: .4;

    @include d(1366) {
      max-width: 80%;
    }
  }

  &::before {
    top: 5%;
    background-position: 0 0;
  }

  &::after {
    bottom: 5%;
    background-position: 0 100%;
  }

  &-light {
    position: absolute;

    &_top {
      right: 0;
      top: 0;
      max-width: 80%;
    }

    &_bottom {
      bottom: -40%;
      left: 0;
      max-width: 50%;
    }
  }

  &__title {
    position: relative;
    max-width: 688px;
    margin-right: 10px;
    margin-left: auto;
    top: -36px;
    margin-bottom: 13px;
    z-index: 1;

    @include d(1366) {
      max-width: 610px;
    }

    @include d(768) {
      max-width: 50%;
      margin: 0 auto 40px auto;
      top: 0;
    }

    @include d(600) {
      max-width: 80%;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include d(768) {
      justify-content: space-around;
      margin: 0 -15px;
    }

    &__item {
      max-width: 295px;
      padding: 0 10px;
      width: 25%;
      margin-bottom: 80px;
      position: relative;

      @include d(768) {
        max-width: 100%;
        margin-bottom: 50px;
      }

      &:first-child,
      &:nth-child(5),
      &:nth-child(9) {
        top: -220px;

        @include d(768) {
          top: 0;
        }
      }

      &:nth-child(2),
      &:nth-child(6) {
        top: -130px;

        @include d(768) {
          top: 0;
        }
      }
    }

    &__link {
      display: block;
      position: relative;

      &>img {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    &__content {
      position: absolute;
      width: 100%;
      bottom: -45px;
      left: 50%;
      transform: translate(-50%, 0);
      width: fit-content;

      h3 {
        text-transform: uppercase;
        font-size: 32px;
        line-height: .8em;
        font-weight: 900;
        color: #6C3923;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #6C3923;
        @include d(1366) {
          font-size: 28px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 1em;
        margin-bottom: 10px;
      }

      img {
        width: 38px;
      }
    }
  }
}

.tech-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -340px;
  position: relative;
  z-index: 1;

  @include d(768) {
    margin-top: 0;
    display: block;
  }

  &__content {
    width: 50%;
    text-align: center;

    @include d(768) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__title {
    position: relative;
    left: -140px;
    width: 110%;
    margin-bottom: 35px;

    @include d(1366) {
      left: 0;
      width: 100%;
      max-width: 540px;
    }

    @include d(768) {
      width: 60%;
      margin: 0 auto 30px auto;
    }

    @include d(600) {
      width: 100%;
      max-width: 80%;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50%;
    margin-top: 60px;

    @include d(991) {
      width: 100%;
      justify-content: space-around;
    }

    @include d(768) {
      margin: 0 -15px;
    }

    &__item {
      max-width: 295px;
      padding: 0 10px;
      width: 50%;
      margin-bottom: 100px;
      position: relative;

      @include d(991) {
        margin-bottom: 60px;
      }

      @include d(768) {
        width: 100%;
        max-width: 100%;
      }

      &:first-child {
        top: 150px;

        @include d(991) {
          top: 0;
        }
      }
    }

    &__link {
      position: relative;
      display: block;

      &>img {
        width: auto;
        margin: 0 auto;
      }
    }

    &__content {
      position: absolute;
      width: 100%;
      bottom: -45px;
      left: 50%;
      transform: translate(-50%, 0);
      width: max-content;

      h3 {
        text-transform: uppercase;
        font-size: 32px;
        line-height: .8em;
        font-weight: 900;
        color: #6C3923;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #6C3923;
        @include d(1366) {
          font-size: 28px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 1em;
        margin-bottom: 10px;
      }

      img {
        width: 38px;
      }
    }
  }
}

.traits {
  padding: 150px 0 40px 0;
  background-image: url(../img/traits-text-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-direction: column;

  @include d(1366) {
    padding: 107px 0 40px 0;
  }

  @include d(1024) {
    padding: 73px 0 40px 0;
  }

  @include d(991) {
    padding: 73px 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-grid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, 0%);
    max-width: 1240px;
    left: 50%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    opacity: .4;

    @include d(1366) {
      max-width: 80%;
    }
  }

  &-light {
    position: absolute;

    &_top {
      left: 0;
      top: 0;
      max-width: 60%;
    }

    &_bottom {
      bottom: 0;
      right: 0;
      max-width: 50%;
    }
  }

  &__content {
    width: 50%;
    top: 0;
    left: -90px;
    position: relative;

    @include d(1366) {
      left: 0;
    }

    @include d(991) {
      width: 100%;
    }
  }

  &__title {
    width: 106%;
    margin-bottom: 115px;

    @include d(1366) {
      width: 100%;
      max-width: 500px;
    }

    @include d(991) {
      margin-bottom: 70px;
      max-width: 50%;

    }

    @include d(768) {
      margin: 0 auto 70px auto;
    }

    @include d(600) {
      max-width: 80%;
    }
  }

  &__img {
    width: 50%;
    position: relative;
    right: -85px;

    @include d(1366) {
      right: 0;
    }

    @include d(991) {
      margin: 0 auto;
      width: 100%;
    }

    img {
      width: 450px;
      height: 450px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);

      @include d(1366) {
        width: 380px;
        height: 380px;
      }

      @include d(600) {
        width: 300px;
        height: 300px;
      }

      @include d(480) {
        width: 240px;
        height: 240px;
      }
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100px;
      position: absolute;
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;

      @include d(1366) {
        height: 60px;
      }

      @include d(768) {
        width: 120%;
        transform: translate(-50%, 0);
        left: 50%;
      }

      @include d(600) {
        width: 100%;
      }
    }

    &::before {
      bottom: 90%;
      background-image: url(../img/frame-top.png);

      @include d(600) {
        bottom: 85%;
      }
    }

    &::after {
      top: 92%;
      background-image: url(../img/frame-bottom.png);

      @include d(600) {
        top: 90%;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 90px;
    width: 110%;
    margin: 0 -10px;

    @include d(991) {
      width: 100%;
      padding-left: 0;
    }

    @include d(768) {
      justify-content: space-around;

    }

    &__item {
      padding: 0 10px;
      position: relative;
      width: 144px;
      font-size: 22px;
      font-weight: 900;
      margin-bottom: 60px;
      line-height: 1em;
      color: $gray-300;
      white-space: nowrap;

      @include d(1199) {
        font-size: 18px;
        width: 115px;
      }

      @include d(1100) {
        width: 25%;
      }

      @include d(768) {
        text-align: center;
      }

      @include d(480) {
        width: 50%;
      }

      @include d(340) {
        width: 100%;
      }

      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(1),
      &:nth-child(5) {
        top: -50px;

        @include d(768) {
          top: 0;
        }
      }

      &:nth-child(4),
      &:nth-child(8) {
        @include d(768) {
          top: 0;
        }
      }

      span {
        font-size: 60px;
        font-weight: 900;
        line-height: 0.8em;
        display: block;
        color: $white;

        @include d(1280) {
          font-size: 50px;
        }
      }
    }
  }
}

.universe {
  padding: 120px 0 0 0;
  background-image: url(../img/universe-text-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include d(1366) {
    padding: 107px 0 0 0;
  }

  @include d(991) {
    padding: 73px 0 0 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/grid-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1240px;
    opacity: .6;

    @include d(1366) {
      max-width: 80%;
    }
  }

  &-light {
    position: absolute;

    &_top {
      left: 10%;
      z-index: 0;
      top: 0;
      max-width: 100%;
    }

    &_bottom {
      bottom: 0;
      left: 0;
      max-width: 50%;
    }
  }

  &__title {
    max-width: 700px;
    margin: 0 auto 80px auto;
    position: relative;

    @include d(1366) {
      max-width: 600px;
    }

    @include d(768) {
      max-width: 80%;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    padding-left: 90px;

    @include d(991) {
      margin-bottom: 60px;
      padding-left: 0;
    }

    @include d(768) {
      display: block;
    }

    &:last-child {
      margin-bottom: 120px;
    }

    &__img {
      @include d(768) {
        margin-bottom: 20px;
      }

      img {
        max-width: 140px;
        margin: 0 auto 23px auto;

        @include d(991) {
          margin: 0 auto 15px auto;
        }

        @include d(768) {
          margin: 0 auto 5px auto;
        }
      }
    }


    &__content {
      font-size: 24px;
      font-weight: 500;
      max-width: 650px;
      padding: 0 20px;

      @include d(1366) {
        font-size: 20px;
      }

      @include d(1024) {
        font-size: 18px;
      }

      @include d(768) {
        margin: 0 auto 20px auto;
        padding: 0;
      }

      p {
        line-height: 1.5em;
      }
    }

    &__btn {
      align-items: center;
      position: relative;
      right: -60px;

      @include d(1366) {
        right: 0;
      }

      @include d(768) {
        text-align: center;
      }
    }
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    &__link {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }
}

.shape {

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    @include d(600) {
      flex-direction: column;
      margin-bottom: 80px;
    }

  }

  h3 {
    font-size: 50px;
    margin-bottom: 40px;

    @include d(1366) {
      font-size: 40px;
    }

    @include d(1280) {
      font-size: 34px;
    }

    @include d(600) {
      font-size: 28px;
      text-align: center;
    }
  }

  &-list {
    display: flex;
    align-items: center;

    @include d(991) {
      margin-bottom: 40px;
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-right: 110px;

        @include d(991) {
          margin-right: 80px;
        }

        @include d(768) {
          margin-right: 40px;
        }

        &::before {
          content: "";
          width: 2px;
          height: 48px;
          position: absolute;
          background-color: $white;
          right: -70px;
          top: 50%;
          transform: translate(-50%, -50%);

          @include d(991) {
            height: 30px;
            right: -40px;
          }

          @include d(768) {
            right: -20px;
          }
        }
      }
    }

    &__link {
      font-size: 32px;
      position: relative;

      @include d(1366) {
        font-size: 28px;
      }

      @include d(1024) {
        font-size: 22px;
      }

      @include d(991) {
        font-size: 18px;
      }
    }
  }
}