<header class="header">
  <div class="container">
    <div class="header-row">
      <a href="./" class="logo">
        <img src="./img/logo.png" alt="Sannas">
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Home
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              About
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Utility
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Guest Artists
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Main artist
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Traits
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Team
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Universe
            </a>
          </li>
        </ul>
      </nav>
      <button class="burger">
        <span class="burger_item"></span>
        <span class="burger_item"></span>
        <span class="burger_item"></span>
      </button>
    </div>
  </div>
</header>