<header class="header js-header">
  <div class="container">
    <div class="header-row">
      <!-- <a href="./" class="logo">
        <img src="./img/logo.png" alt="Sannas">
      </a> -->
      <a href="#modalRange" class="btn btn_sm btn_pink" data-fancybox>mint</a>
      <nav class="nav js-menu">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#section_1" class="nav-list__link active link_pink">
              Home
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#section_2" class="nav-list__link link_violet">
              About
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#section_3" class="nav-list__link link_white">
              Guest Artists
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#section_4" class="nav-list__link link_pink">
              Utility
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#section_5" class="nav-list__link link_pink-dark">
              Main Artist
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#section_6" class="nav-list__link link_yellow">
              Team
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#section_7" class="nav-list__link link_light">
              Traits
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#section_8" class="nav-list__link link_blue">
              Universe
            </a>
          </li>
        </ul>
      </nav>
      <button class="burger js-burger">
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
      </button>
    </div>
  </div>
</header>