<div class="modal-overlay"></div>
<div class="modal" id="modalRange">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__img">
        <img src="./img/1.gif" alt="modal">
      </div>
      <div class="modal__range">
        <div class="modal__logo">
          <img src="./img/logo.png" alt="Sannas">
        </div>
        <div class="range-form">
          <form>
            <div class="range-numbers">
              <span>4287</span>
              of
              <span>7777</span>
            </div>
            <div class="range-count">
              <p class="start">1</p>
              <p class="total">20</p>
            </div>
            <input type="range" min="1" max="20" step="1" value="1" class="range-input">
            <div class="range-total">
              <p class="range-total__text">Total</p>
              <div class="range-total__value">
                <span>0.00</span>
                ETH
              </div>
            </div>
            <button class="btn btn_yellow-light">
              mint
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalArtist-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/PsalmOne" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://www.psalmonelovesyou.com/ " target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#site">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal" id="modalArtist-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-2.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>Sorryvrerror</h3>
        <p> Укрепление и развитие внутренней структуры напрямую зависит от дальнейших направлений развития. Имеется
          спорная
          точка зрения, гласящая примерно следующее: диаграммы связей описаны максимально подробно. Также как
          сложившаяся
          структура организации играет определяющее значение для направлений прогрессивного развития. Не следует,
          однако,
          забывать, что глубокий уровень погружения требует определения и уточнения кластеризации усилий. Господа,
          повышение уровня гражданского сознания не оставляет шанса для стандартных подходов. Высококачественный
          прототип
          будущего проекта в значительной степени обусловливает важность своевременного выполнения сверхзадачи. Но
          непосредственные участники технического прогресса в равной степени предоставлены сами себе. Каждый из нас
          понимает очевидную вещь: начало повседневной работы по формированию позиции является качественно новой
          ступенью
          своевременного выполнения сверхзадачи. Предварительные выводы неутешительны: синтетическое тестирование.</p>
      </div>
    </div>
  </div>
</div> -->
<div class="modal" id="modalArtist-3">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-3.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/NFTsfromP" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/homieg" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalArtist-4">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-4.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/JulbyJuli" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-julbyjuli-29a564ce44d4" target="_blank"
              class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/faces-in-shades" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalArtist-5">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-5.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/3leanor" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-eleanor-wright-40169f774f96" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/homagetopeter" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalArtist-6">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-6.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/TheDollsNFT" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-weanika-89def3313650" target="_blank"
              class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/thedolls" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalArtist-7">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-7.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/sorryvrerror_co" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-sorryvrerror-faef078137f4"
              target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/faceless-portraits" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalArtist-8">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-8.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/ArtTratatasya" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-tratatasya-e043b0091b09" target="_blank"
              class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-2.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-3">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-3.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-4">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-4.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-5">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-5.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-6">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-6.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-7">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-7.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-8">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-8.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalTeam-9">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-9.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTech-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/tech-team-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTech-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/tech-team-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTech-3">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/tech-team-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="universeModal-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/sanjay-logo.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>SANJAY</h3>
        <p> SANJAY is one of the main characters of SICKO UNIVERSE! The name SanJay is a portmanteau of it's two
          Siberian creators: Sanya and Jeka.</p>
        <p>A limited series of 1000 unique SANJAY! Every detail and clothing is hand-drawn, scanned, and assembled
          manually in CC.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="universeModal-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/robots-logo.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>SICKO ROBOTS</h3>
        <p>SICKO ROBOTS are the antagonists in the SICKO UNIVERSE. А generative 10k collection consisting of 6 distinct Robot body types and over 500+ individual traits minted from a verified ERC-721A Ethereum Smart Contract.</p>
        <p>A follow-up to the original, OpenSea Verified, SANJAY Collection, SICKO Robots are part of an expanding SICKO UNIVERSE!</p>
        <p>From the Artists, Creators and Community Members of the SanJay & SICKO projects. Each SICKO ROBOTS component has been meticulously hand-drawn, hand-painted, and then scanned for Generative ERC-721A Assembly.</p>
      </div>
    </div>
  </div>
</div>