<div class="modal-overlay"></div>
<div class="modal" id="modalRange">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__img">
        <img src="./img/1.gif" alt="modal">
      </div>
      <div class="modal__range">
        <div class="modal__logo">
          <img src="./img/logo.png" alt="Sannas">
        </div>
        <div class="range-form">
          <form>
            <div class="range-numbers">
              <span>3000</span>
              of
              <span>3000</span>
            </div>
            <div class="range-count">
              <p class="start">1</p>
              <p class="total">20</p>
            </div>
            <input type="range" min="1" max="20" step="1" value="1" class="range-input">
            <div class="range-total">
              <p class="range-total__text">Total</p>
              <div class="range-total__value">
                <span>0.03</span>
                ETH
              </div>
            </div>
            <button class="btn btn_yellow-light">
              mint
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalArtist-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/PsalmOne" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://www.psalmonelovesyou.com/ " target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#site">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal" id="modalArtist-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-2.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>Sorryvrerror</h3>
        <p> Укрепление и развитие внутренней структуры напрямую зависит от дальнейших направлений развития. Имеется
          спорная
          точка зрения, гласящая примерно следующее: диаграммы связей описаны максимально подробно. Также как
          сложившаяся
          структура организации играет определяющее значение для направлений прогрессивного развития. Не следует,
          однако,
          забывать, что глубокий уровень погружения требует определения и уточнения кластеризации усилий. Господа,
          повышение уровня гражданского сознания не оставляет шанса для стандартных подходов. Высококачественный
          прототип
          будущего проекта в значительной степени обусловливает важность своевременного выполнения сверхзадачи. Но
          непосредственные участники технического прогресса в равной степени предоставлены сами себе. Каждый из нас
          понимает очевидную вещь: начало повседневной работы по формированию позиции является качественно новой
          ступенью
          своевременного выполнения сверхзадачи. Предварительные выводы неутешительны: синтетическое тестирование.</p>
      </div>
    </div>
  </div>
</div> -->
<div class="modal" id="modalArtist-3">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-3.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/NFTsfromP" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-petek-910914276f19" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/homieg" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalArtist-4">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-4.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/JulbyJuli" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-julbyjuli-29a564ce44d4" target="_blank"
              class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/faces-in-shades" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalArtist-5">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-5.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/3leanor" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-eleanor-wright-40169f774f96"
              target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/homagetopeter" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalArtist-6">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-6.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/TheDollsNFT" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-weanika-89def3313650" target="_blank"
              class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/thedolls" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalArtist-7">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-7.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/sorryvrerror_co" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-sorryvrerror-faef078137f4"
              target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/faceless-portraits" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalArtist-8">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/artist-title-8.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/ArtTratatasya" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://medium.com/@SICKO_UNIVERSE/sannas-featured-artist-tratatasya-e043b0091b09" target="_blank"
              class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#medium">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- team modals -->

<div class="modal" id="modalTeam-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/VintageCrypto" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>VINTAGE CRYPTO</h3>
        <p>
          After leading the US/UK team through October 2021, Vintage has been on a mini-sabbatical as his IRL hustles
          take precedence through April 2022. He’s still in the mix as a Senior Advisor to the project though, just with
          a more inward facing role than before.
        </p>
        <p> Vintage is a Texas-based entrepreneur with a background in eCommerce, project management, inventory
          procurement, product marketing, and business consulting. He has run a number of successful businesses in the
          collectibles markets, giving him a unique perspective on in-demand market trends. His expertise is in
          understanding not only what is popular today, but more so envisioning what will be sought after in the weeks,
          months, and years to come.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-2.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/SICKO_UNIVERSE" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>STANISLAV</h3>
        <p>
          Stanislav is an artist on the SANJAY UNIVERSE team who spends his time building out Alexander’s creations by
          refining key details and brainstorming ideas.
        </p>
        <p>
          An “extreme” guy (in the sporting sense), he is equally nimble on skateboards, BMX bikes, and scooters. Before
          joining the SANJAY team, Stanislav was engaged in business management. But he’s always had a creative streak,
          so he left the corporate world behind and started working at a tattoo studio (while also dabbling in designer
          furniture). Due to COVID, the tattoo studio close, but Stanislav received an invitation to work at SANJAY
          UNIVERSE, and, being a longtime friend of Eugene, eagerly accepted.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-3">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-3.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/SICKO_UNIVERSE" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>EUGENE</h3>
        <p>
          Eugene is the public-facing co-founder of the SANJAY UNIVERSE, engaging with the community in Discord and
          Twitter as the “face” of the project. This is his primary role, along with being the intermediary between the
          team in Tomsk and the English-speaking team members in the US and UK.
        </p>
        <p> With a professional background in sales, Eugene managed a successful sneaker store in Russia before going
          into NFTs full-time. This gives the project an organic connection to streetwear and helps explain some of the
          sartorial choices made in the original SANJAY collection. His hobbies include photography and skateboarding,
          and he is known for being able to execute tricks like quad-kickflips that would likely result in broken necks
          for less graceful creators in the NFT space.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-4">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-4.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/letterhustla" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>ALEXANDER</h3>
        <p>
          Alexander is the main artist. Co-founder of the SANJAY UNIVERSE (along with Eugene), his ideas and artistic
          talent are the driving force behind the project. Virtually all his time is spent creating and perfecting
          finished art.
        </p>
        <p> In 2009, Alexander was kicked out of art school (ironically, because of a literal smoke break on school
          property). In 2012, he began studying to be an art teacher, but he found himself more interested in creating
          art than learning how to teach others to create art, so he dropped out in 2014. In 2019, he was actually
          invited to be a teacher himself at this very school, having distinguished himself professionally as head of
          marketing design for a strip club. He and Eugene have been friends for nearly a decade.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-5">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-5.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/raleighw00d" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>RALEIGHW00D</h3>
        <p>
          Raleighw00d currently serves as the Strategist for the SANJAY UNIVERSE responsible for both brand and product
          management. Raleigh develops brand positioning and conducts market research on the broader NFT market to
          anticipate future trends and ensure product + market fit. Raleigh is also part of the story team for the
          upcoming Robot Wars comics, combining his love of comics, storytelling, and the SICKO style to produce the
          most ambitious project in the SANJAY UNIVERSE.
        </p>
        <p>
          A bonafide NFT degen, Raleighw00d is a sharp, knowledgeable observer of the NFT space. He has a background in
          collectibles (cards, action figures, sneakers, etc.) and has been one of the most sincere and substantive
          members of the SANJAY community since the earliest days of Discord.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-6">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-6.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/ivvneth" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>SNTLSS</h3>
        <p>Joined SICKO Team recently, yet consistently followed the project since SANJAY
          Robots' launch.
          First of all a true supporter of the SICKO Art. The devotion of the SICKO team to their
          work is what most inspired me.
        </p>
        <p> A young divergent thinker, based in Eastern Europe & Italy, who loves tinkering on the
          edges of multiple domains. Working to build a wide range of skills and then tunnel them
          in a unique combination resulting in a new rational optimistic niche. Always detail-
          oriented and passioned about aesthetics, articulation of thoughts and creating a high-
          resolution life map.
          Management university studies.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-7">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-7.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/RegularRuben" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>REGULARRUBEN</h3>
        <p>
          Ruben has project marketing in his portfolio for 2022, and we’re excited to have him collaborate on
          refining—and then executing—a cohesive marketing strategy that brings more attention to the SANJAY UNIVERSE.
        </p>
        <p> Ruben has been an early adopter of some of the most successful NFT projects of 2021. He has also onboarded
          artists and companies to create immersive experiences between NFT and non-NFT owners. Per usual, he always has
          multiple big and exciting things in the works; a fantastic asset to the SANJAY UNIVERSE team.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modalTeam-8">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-8.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/darknoahd" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>DARKNOAHD</h3>
        <p>
          As Team Lead, Dark is responsible for interfacing with the Tomsk team and coordinating the direction and
          efforts of the US/UK team members. He and Eugene work closely, iterating ideas and making sure the team is on
          the same page re: execution. He is also part of the story team for the upcoming Robot Wars comics,
          collaborating with Raleighw00d and QuothThoth on storyline and execution.
        </p>
        <p>An entrepreneur with his fingers in many pies—including crypto and NFTs—he has a background in project
          management and venture capital. When he’s not working on NFTs (and often while he is working on NFTs), he
          enjoys fine whiskeys and playing guitar.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalTeam-9">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/team-9.png" alt="modal logo">
      </div>
      <div class="modal__text">
        <h3>QUOTHTHOTH</h3>
        <p>
          QuothThoth is the project Lore Master, as well as the writer of the upcoming Robot Wars comic books.
        </p>
        <p> He has a background in academic writing but is sufficiently grimy and creative to have pulled off something
          quite special with the SANJAY ROBOTS lore. A colleague of Dark Noah’d from their days in the Shanghai
          trenches, he is a renowned Dungeon Master (the boardgame, not BDSM) and a bourbon and jazz enthusiast.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalTech-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/tech-team-1.png" alt="modal logo">
        <ul class="modal-social">
          <!-- <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li> -->
          <li class="artist-social__item">
            <a href="https://t.me/zabavskyi" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#telegram">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>Zabavskyi</h3>
        <p>
          Not new to design. "I know how to design» for more than 5 years. I enjoy this business and nothing can be done
          about it. After many years in design, I came to the fact that I do not sell my customers "pictures" and "their
          services". I am as interested as I can in providing design services to my clients. I thoroughly analyze the
          task and niche of the client to solve the problem with which I came the customer.
        </p>
        <p> I get pleasure when my product/work benefits (and not only the material) both my customer and his customers.
          I always do it for myself. And I always stay in touch, even after the project is finished. Otherwise, I don’t
          see the point in all this. Ready to talk? Feel free to contact me here on Telegram
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalTech-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/tech-team-3.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://twitter.com/sha256punk" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://t.me/sha256punk" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#telegram">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>Alexander</h3>
        <p>
          We are a young team of crypto enthusiasts, professionals in their field (me and my guys)
        </p>
        <p> Giving our best in this project, we implemented the entire technical part of the project in the best possible way 🔥
          (In general, as in all projects in which we participate)
        </p>
        <p>We will be happy to answer any of your questions and will be happy to discuss your ideas and proposals for cooperation 🤝</p>
        <p>Let's keep in touch, maybe write to us in telegram?🤔</p>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="modal" id="modalTech-3">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/tech-team-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->


<div class="modal" id="universeModal-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/sanjay-logo.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="https://discord.com/invite/EAvXct3Nqn" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#discord">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="https://opensea.io/collection/sanjay" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#opensea">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>SANJAY</h3>
        <p> SANJAY is one of the main characters of SICKO UNIVERSE! The name SanJay is a portmanteau of it's two
          Siberian creators: Sanya and Jeka.</p>
        <p>A limited series of 1000 unique SANJAY! Every detail and clothing is hand-drawn, scanned, and assembled
          manually in CC.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="universeModal-2">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="./img/robots-logo.png" alt="modal logo">
        <!-- <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                </use>
              </svg>
            </a>
          </li>
        </ul> -->
      </div>
      <div class="modal__text">
        <h3>SICKO ROBOTS</h3>
        <p>SICKO ROBOTS are the antagonists in the SICKO UNIVERSE. А generative 10k collection consisting of 6 distinct
          Robot body types and over 500+ individual traits minted from a verified ERC-721A Ethereum Smart Contract.</p>
        <p>A follow-up to the original, OpenSea Verified, SANJAY Collection, SICKO Robots are part of an expanding SICKO
          UNIVERSE!</p>
        <p>From the Artists, Creators and Community Members of the SanJay & SICKO projects. Each SICKO ROBOTS component
          has been meticulously hand-drawn, hand-painted, and then scanned for Generative ERC-721A Assembly.</p>
      </div>
    </div>
  </div>
</div>