<div class="modal-overlay"></div>
<div class="modal" id="modalRange">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__img">
        <img src="./img/modal-img.jpg" alt="modal">
      </div>
      <div class="modal__range">
        <div class="modal__logo">
          <img src="./img/logo.png" alt="Sannas">
        </div>
        <div class="range-form">
          <form>
            <div class="range-numbers">
              <span>4287</span>
              of
              <span>7777</span>
            </div>
            <div class="range-count">
              <p class="start">1</p>
              <p class="total">20</p>
            </div>
            <input type="range" min="1" max="20" step="1" value="1" class="range-input">
            <div class="range-total">
              <p class="range-total__text">Total</p>
              <div class="range-total__value">
                <span>0.00</span>
                ETH
              </div>
            </div>
            <button href="#" class="btn btn_yellow-light">
              mint
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-1">
  <a href="javascript:parent.$.fancybox.close();" class="close">
    <svg>
      <use xlink:href="./img/svg/sprite-svg/sprite.svg#close">
      </use>
    </svg>
  </a>
  <div class="container">
    <div class="modal-row">
      <div class="modal__artist">
        <img src="img/modal-partner-1.png" alt="modal logo">
        <ul class="modal-social">
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#twitter">
                </use>
              </svg>
            </a>
          </li>
          <li class="artist-social__item">
            <a href="#" target="_blank" class="artist-social__link">
              <svg class="svg-social">
                <use xlink:href="./img/svg/sprite-svg/sprite.svg#facebook">
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal__text">
        <h3>Sorryvrerror</h3>
        <p> Укрепление и развитие внутренней структуры напрямую зависит от дальнейших направлений развития. Имеется
          спорная
          точка зрения, гласящая примерно следующее: диаграммы связей описаны максимально подробно. Также как
          сложившаяся
          структура организации играет определяющее значение для направлений прогрессивного развития. Не следует,
          однако,
          забывать, что глубокий уровень погружения требует определения и уточнения кластеризации усилий. Господа,
          повышение уровня гражданского сознания не оставляет шанса для стандартных подходов. Высококачественный
          прототип
          будущего проекта в значительной степени обусловливает важность своевременного выполнения сверхзадачи. Но
          непосредственные участники технического прогресса в равной степени предоставлены сами себе. Каждый из нас
          понимает очевидную вещь: начало повседневной работы по формированию позиции является качественно новой
          ступенью
          своевременного выполнения сверхзадачи. Предварительные выводы неутешительны: синтетическое тестирование.</p>
      </div>
    </div>
  </div>
</div>